.demo{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
}
body{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}